@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f7f8f9;
}
/* loader content*/
.loader {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #16213e;
  transition: 0.5s ease all;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 0.9s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
/* nav content */

html {
  scroll-behavior: smooth;
}
nav {
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 40px;
}
.nav-search-div {
  display: flex;
  justify-content: center;
}
.nav-search-div input {
  border: 1px solid #16213e;
  width: 185px;
  height: 37px;
  font-size: 23px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  font-weight: bold;
}
.nav-search-div button {
  border: 1px solid #16213e;
  background-color: #16213e;
  color: white;
  padding: 0px 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 19px;
  transition: 0.4s ease all;
  font-weight: bold;
}
.nav-search-div button:hover {
  background-color: white;
  color: #16213e;
  transition: 0.4s ease all;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  margin: 0px 30px;
  display: flex;
  align-items: center;
}
nav ul li a {
  color: #16213e;
  text-decoration: none;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 8px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
nav .menu-btn i {
  color: #16213e;
  font-size: 33px;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
#click {
  display: none;
}
@media (max-width: 940px) {
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: absolute;
    top: 80px;
    left: -100%;
    background: white;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    margin: 13px 0;
    background-color: white;
  }
  #click:checked ~ ul {
    left: 0%;
  }
  #click:checked ~ body {
    margin: 500px;
  }
  nav ul li a {
    font-size: 20px;
    display: block;
  }
  nav .menu-btn i {
    display: block;
    margin: 20px 35px;
  }
  nav .cart {
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px 40px;
  }
}
/* now date */

.now-date {
  background-color: white;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 20px;
}
.month-number-txt {
  font-size: 60px;
}
.date-div h1 {
  color: #16213e;
}
/* sidebar left */
.sidebar-left {
  background-color: white;
  width: 200px;
  margin: 20px;
  border-radius: 10px;
}
.sidebar-left .nav-txt h2 {
  font-size: 20px;
  color: #16213e;
}
.sidebar-left .nav-txt {
  padding: 20px;
}
.main-container {
  display: flex;
  justify-content: space-between;
}
/* news content */
.news-div {
  background-color: white;
  border-radius: 10px;
  margin: 20px;
}
.news-img {
  display: flex;
  justify-content: center;
}
.news-img img {
  width: 85%;
  margin: 20px;
  border-radius: 10px;
}
.news-title {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
/* sidebar-right */

.sidebar-right {
  margin: 20px;
}

.social-div {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 320px;
}
.social-title h2 {
  text-align: center;
  color: #16213e;
}
.social-icon {
  display: flex;
  justify-content: center;
}
.social-icon i {
  font-size: 40px;
  padding: 7px 5px;
}
/* popular news */
.popular-news-div {
  padding: 10px;
}
.popular-news {
  margin: 20px 0px;
  background-color: white;
  width: 320px;
  border-radius: 10px;
}
.popular-news-header-title h1 {
  text-align: center;
  padding: 10px 0px;
  color: #16213e;
}
.popular-news-img img {
  width: 75px;
  object-fit: cover;
  height: 75px;
  border-radius: 50px;
}
.popular-news-header {
  display: flex;
  justify-content: space-around;
}
.popular-news-title {
  width: 175px;
}
.news-title {
  padding: 10px;
}
.news-title h3 {
  color: #16213e;
  font-size: 21px;
}
.news-title h4 {
  color: #16213e;
  margin: 15px;
}
.popular-news-date h5 {
  text-align: center;
}
.popular-news-title h4 {
  color: #16213e;
}

.popular-news-title h5 {
  color: #16213e;
}
.popular-news-date i,
.popular-news-date h5 {
  color: #869097;
}
/* responsive */

@media (max-width: 1050px) {
  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .now-date {
    width: 85vw;
    height: 250px;
  }
  .sidebar-left {
    width: 85vw;
    text-align: center;
  }
  .news {
    width: 90vw;
  }
  .social-div {
    width: 85vw;
  }
  .popular-news {
    width: 85vw;
  }
  .popular-news-img img {
    width: 25vw;
    height: 25vw;
    border-radius: 150px;
    object-fit: unset;
  }
  .popular-news-date i,
  .popular-news-date h5 {
    font-size: 20px;
  }
  .popular-news-title h4,
  .popular-news-title h5 {
    font-size: 20px;
    margin-top: 13%;
    width: 30vh;
  }
}
@media (max-width: 650px) {
  .popular-news-title h4,
  .popular-news-title h5 {
    font-size: 16px;
  }
}

/* footer page */
footer {
  position: relative;
  bottom: 0;
  background-color: white;
  margin-top: 25px;
  padding: 25px;
}
.footer-pages ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 100px;
}
.footer-pages ul li a {
  color: #16213e;
  font-weight: bold;
  font-size: 20px;
}
.all-right-reserved {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  flex-wrap: wrap;
}
.all-right-reserved h3 {
  color: #16213e;
  font-size: 21px;
  padding: 10px;
}
.all-right-reserved a {
  color: #16213e;
  font-size: 21px;
  font-weight: bold;
  margin-left: 10px;
}
/* footer responsive */
@media (max-width: 777px) {
  .all-right-reserved h3 {
    text-align: center;
  }
}
